build/*
CMakeLists.txt.user
/msvc-build/.vs/enduro2d_snake_game/v15/Browse.VC.db
/msvc-build/.vs/enduro2d_snake_game/v15/Browse.VC.opendb
/msvc-build/.vs/enduro2d_snake_game/v15/Solution.VC.db
/msvc-build/.vs/enduro2d_snake_game/v15/Solution.VC.db-shm
/msvc-build/.vs/enduro2d_snake_game/v15/Solution.VC.db-wal
/msvc-build/.vs/enduro2d_snake_game/v15/ipch/AutoPCH/ENDURO2D_SNAKE_GAME-8a6bacc6/MAIN-61018fa3/MAIN.ipch
/msvc-build/ALL_BUILD.vcxproj
/msvc-build/ALL_BUILD.vcxproj.filters
/msvc-build/CMakeCache.txt
/msvc-build/CMakeFiles/0d225018bf42be1e07ecba119347417f/INSTALL_force.rule
/msvc-build/CMakeFiles/2864151bbce4e54ddd49813c6f6d2e7a/INSTALL_force.rule
/msvc-build/CMakeFiles/3.12.1/CMakeCCompiler.cmake
/msvc-build/CMakeFiles/3.12.1/CMakeCXXCompiler.cmake
/msvc-build/CMakeFiles/3.12.1/CMakeDetermineCompilerABI_C.bin
/msvc-build/CMakeFiles/3.12.1/CMakeDetermineCompilerABI_CXX.bin
/msvc-build/CMakeFiles/3.12.1/CMakeRCCompiler.cmake
/msvc-build/CMakeFiles/3.12.1/CMakeSystem.cmake
/msvc-build/CMakeFiles/3.12.1/CompilerIdC/CMakeCCompilerId.c
/msvc-build/CMakeFiles/3.12.1/CompilerIdC/CompilerIdC.exe
/msvc-build/CMakeFiles/3.12.1/CompilerIdC/CompilerIdC.vcxproj
/msvc-build/CMakeFiles/3.12.1/CompilerIdC/Debug/CMakeCCompilerId.obj
/msvc-build/CMakeFiles/3.12.1/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
/msvc-build/CMakeFiles/3.12.1/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
/msvc-build/CMakeFiles/3.12.1/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
/msvc-build/CMakeFiles/3.12.1/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
/msvc-build/CMakeFiles/3.12.1/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
/msvc-build/CMakeFiles/3.12.1/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
/msvc-build/CMakeFiles/3.12.1/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
/msvc-build/CMakeFiles/3.12.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
/msvc-build/CMakeFiles/3.12.1/CompilerIdCXX/CompilerIdCXX.exe
/msvc-build/CMakeFiles/3.12.1/CompilerIdCXX/CompilerIdCXX.vcxproj
/msvc-build/CMakeFiles/3.12.1/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
/msvc-build/CMakeFiles/3.12.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
/msvc-build/CMakeFiles/3.12.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
/msvc-build/CMakeFiles/3.12.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
/msvc-build/CMakeFiles/3.12.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
/msvc-build/CMakeFiles/3.12.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
/msvc-build/CMakeFiles/3.12.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
/msvc-build/CMakeFiles/3.12.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
/msvc-build/CMakeFiles/3.12.1/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
/msvc-build/CMakeFiles/3.12.1/VCTargetsPath.txt
/msvc-build/CMakeFiles/3.12.1/VCTargetsPath.vcxproj
/msvc-build/CMakeFiles/64bf2d0497f38931ea0dd47b920b52ed/INSTALL_force.rule
/msvc-build/CMakeFiles/64bf2d0497f38931ea0dd47b920b52ed/generate.stamp.rule
/msvc-build/CMakeFiles/65137240c89e75a226d89bc74b7c8c4f/INSTALL_force.rule
/msvc-build/CMakeFiles/CMakeError.log
/msvc-build/CMakeFiles/CMakeOutput.log
/msvc-build/CMakeFiles/TargetDirectories.txt
/msvc-build/CMakeFiles/b16c3664d57f75e52d5d751900390136/INSTALL_force.rule
/msvc-build/CMakeFiles/cmake.check_cache
/msvc-build/CMakeFiles/feature_tests.bin
/msvc-build/CMakeFiles/feature_tests.c
/msvc-build/CMakeFiles/feature_tests.cxx
/msvc-build/CMakeFiles/generate.stamp
/msvc-build/CMakeFiles/generate.stamp.depend
/msvc-build/CMakeFiles/generate.stamp.list
/msvc-build/INSTALL.vcxproj
/msvc-build/INSTALL.vcxproj.filters
/msvc-build/Win32/Debug/ALL_BUILD/ALL_BUILD.log
/msvc-build/Win32/Debug/ALL_BUILD/ALL_BUILD.tlog/ALL_BUILD.lastbuildstate
/msvc-build/Win32/Debug/ZERO_CHECK/ZERO_CHECK.log
/msvc-build/Win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
/msvc-build/Win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.command.1.tlog
/msvc-build/Win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.read.1.tlog
/msvc-build/Win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.write.1.tlog
/msvc-build/ZERO_CHECK.vcxproj
/msvc-build/ZERO_CHECK.vcxproj.filters
/msvc-build/cmake_install.cmake
/msvc-build/enduro2d_snake_game.dir/Debug/enduro2d.E8F0B1DF.tlog/CL.command.1.tlog
/msvc-build/enduro2d_snake_game.dir/Debug/enduro2d.E8F0B1DF.tlog/custombuild.command.1.tlog
/msvc-build/enduro2d_snake_game.dir/Debug/enduro2d.E8F0B1DF.tlog/custombuild.read.1.tlog
/msvc-build/enduro2d_snake_game.dir/Debug/enduro2d.E8F0B1DF.tlog/custombuild.write.1.tlog
/msvc-build/enduro2d_snake_game.dir/Debug/enduro2d.E8F0B1DF.tlog/enduro2d_snake_game.lastbuildstate
/msvc-build/enduro2d_snake_game.dir/Debug/enduro2d.E8F0B1DF.tlog/unsuccessfulbuild
/msvc-build/enduro2d_snake_game.dir/Debug/enduro2d_snake_game.log
/msvc-build/enduro2d_snake_game.dir/Debug/vc141.pdb
/msvc-build/enduro2d_snake_game.sln
/msvc-build/enduro2d_snake_game.vcxproj
/msvc-build/enduro2d_snake_game.vcxproj.filters
/msvc-build/lib/Debug/glewd.lib
/msvc-build/modules/enduro2d/ALL_BUILD.vcxproj
/msvc-build/modules/enduro2d/ALL_BUILD.vcxproj.filters
/msvc-build/modules/enduro2d/CMakeFiles/generate.stamp
/msvc-build/modules/enduro2d/CMakeFiles/generate.stamp.depend
/msvc-build/modules/enduro2d/INSTALL.vcxproj
/msvc-build/modules/enduro2d/INSTALL.vcxproj.filters
/msvc-build/modules/enduro2d/cmake_install.cmake
/msvc-build/modules/enduro2d/enduro2d.dir/Debug/_core.obj
/msvc-build/modules/enduro2d/enduro2d.dir/Debug/dbgui.obj
/msvc-build/modules/enduro2d/enduro2d.dir/Debug/dbgui_shaders.obj
/msvc-build/modules/enduro2d/enduro2d.dir/Debug/dbgui_widgets.obj
/msvc-build/modules/enduro2d/enduro2d.dir/Debug/debug.obj
/msvc-build/modules/enduro2d/enduro2d.dir/Debug/deferrer.obj
/msvc-build/modules/enduro2d/enduro2d.dir/Debug/enduro2d.log
/msvc-build/modules/enduro2d/enduro2d.dir/Debug/enduro2d.pdb
/msvc-build/modules/enduro2d/enduro2d.dir/Debug/enduro2d.tlog/CL.command.1.tlog
/msvc-build/modules/enduro2d/enduro2d.dir/Debug/enduro2d.tlog/CL.read.1.tlog
/msvc-build/modules/enduro2d/enduro2d.dir/Debug/enduro2d.tlog/CL.write.1.tlog
/msvc-build/modules/enduro2d/enduro2d.dir/Debug/enduro2d.tlog/custombuild.command.1.tlog
/msvc-build/modules/enduro2d/enduro2d.dir/Debug/enduro2d.tlog/custombuild.read.1.tlog
/msvc-build/modules/enduro2d/enduro2d.dir/Debug/enduro2d.tlog/custombuild.write.1.tlog
/msvc-build/modules/enduro2d/enduro2d.dir/Debug/enduro2d.tlog/enduro2d.lastbuildstate
/msvc-build/modules/enduro2d/enduro2d.dir/Debug/enduro2d.tlog/unsuccessfulbuild
/msvc-build/modules/enduro2d/enduro2d.dir/Debug/engine.obj
/msvc-build/modules/enduro2d/enduro2d.dir/Debug/input.obj
/msvc-build/modules/enduro2d/enduro2d.dir/Debug/main.obj
/msvc-build/modules/enduro2d/enduro2d.dir/Debug/platform.obj
/msvc-build/modules/enduro2d/enduro2d.dir/Debug/platform_ios.obj
/msvc-build/modules/enduro2d/enduro2d.dir/Debug/platform_linux.obj
/msvc-build/modules/enduro2d/enduro2d.dir/Debug/platform_macosx.obj
/msvc-build/modules/enduro2d/enduro2d.dir/Debug/platform_none.obj
/msvc-build/modules/enduro2d/enduro2d.dir/Debug/platform_windows.obj
/msvc-build/modules/enduro2d/enduro2d.dir/Debug/render.obj
/msvc-build/modules/enduro2d/enduro2d.dir/Debug/render_none.obj
/msvc-build/modules/enduro2d/enduro2d.dir/Debug/render_opengl.obj
/msvc-build/modules/enduro2d/enduro2d.dir/Debug/render_opengl_base.obj
/msvc-build/modules/enduro2d/enduro2d.dir/Debug/render_opengl_impl.obj
/msvc-build/modules/enduro2d/enduro2d.dir/Debug/window.obj
/msvc-build/modules/enduro2d/enduro2d.dir/Debug/window_glfw.obj
/msvc-build/modules/enduro2d/enduro2d.sln
/msvc-build/modules/enduro2d/enduro2d.vcxproj
/msvc-build/modules/enduro2d/enduro2d.vcxproj.filters
/msvc-build/modules/enduro2d/modules/glew/ALL_BUILD.vcxproj
/msvc-build/modules/enduro2d/modules/glew/ALL_BUILD.vcxproj.filters
/msvc-build/modules/enduro2d/modules/glew/CMakeFiles/generate.stamp
/msvc-build/modules/enduro2d/modules/glew/CMakeFiles/generate.stamp.depend
/msvc-build/modules/enduro2d/modules/glew/INSTALL.vcxproj
/msvc-build/modules/enduro2d/modules/glew/INSTALL.vcxproj.filters
/msvc-build/modules/enduro2d/modules/glew/cmake_install.cmake
/msvc-build/modules/enduro2d/modules/glew/glew.sln
/msvc-build/modules/enduro2d/modules/glew/libglew_static.dir/Debug/glew.obj
/msvc-build/modules/enduro2d/modules/glew/libglew_static.dir/Debug/glew.res
/msvc-build/modules/enduro2d/modules/glew/libglew_static.dir/Debug/libglew_static.log
/msvc-build/modules/enduro2d/modules/glew/libglew_static.dir/Debug/libglew_static.pdb
/msvc-build/modules/enduro2d/modules/glew/libglew_static.dir/Debug/libglew_static.tlog/CL.command.1.tlog
/msvc-build/modules/enduro2d/modules/glew/libglew_static.dir/Debug/libglew_static.tlog/CL.read.1.tlog
/msvc-build/modules/enduro2d/modules/glew/libglew_static.dir/Debug/libglew_static.tlog/CL.write.1.tlog
/msvc-build/modules/enduro2d/modules/glew/libglew_static.dir/Debug/libglew_static.tlog/Lib-link-cvtres.read.1.tlog
/msvc-build/modules/enduro2d/modules/glew/libglew_static.dir/Debug/libglew_static.tlog/Lib-link-cvtres.write.1.tlog
/msvc-build/modules/enduro2d/modules/glew/libglew_static.dir/Debug/libglew_static.tlog/Lib.command.1.tlog
/msvc-build/modules/enduro2d/modules/glew/libglew_static.dir/Debug/libglew_static.tlog/custombuild.command.1.tlog
/msvc-build/modules/enduro2d/modules/glew/libglew_static.dir/Debug/libglew_static.tlog/custombuild.read.1.tlog
/msvc-build/modules/enduro2d/modules/glew/libglew_static.dir/Debug/libglew_static.tlog/custombuild.write.1.tlog
/msvc-build/modules/enduro2d/modules/glew/libglew_static.dir/Debug/libglew_static.tlog/libglew_static.lastbuildstate
/msvc-build/modules/enduro2d/modules/glew/libglew_static.dir/Debug/libglew_static.tlog/rc.command.1.tlog
/msvc-build/modules/enduro2d/modules/glew/libglew_static.dir/Debug/libglew_static.tlog/rc.read.1.tlog
/msvc-build/modules/enduro2d/modules/glew/libglew_static.dir/Debug/libglew_static.tlog/rc.write.1.tlog
/msvc-build/modules/enduro2d/modules/glew/libglew_static.vcxproj
/msvc-build/modules/enduro2d/modules/glew/libglew_static.vcxproj.filters
/msvc-build/modules/enduro2d/modules/glfw/ALL_BUILD.vcxproj
/msvc-build/modules/enduro2d/modules/glfw/ALL_BUILD.vcxproj.filters
/msvc-build/modules/enduro2d/modules/glfw/CMakeFiles/generate.stamp
/msvc-build/modules/enduro2d/modules/glfw/CMakeFiles/generate.stamp.depend
/msvc-build/modules/enduro2d/modules/glfw/GLFW.sln
/msvc-build/modules/enduro2d/modules/glfw/INSTALL.vcxproj
/msvc-build/modules/enduro2d/modules/glfw/INSTALL.vcxproj.filters
/msvc-build/modules/enduro2d/modules/glfw/cmake_install.cmake
/msvc-build/modules/enduro2d/modules/glfw/src/CMakeFiles/generate.stamp
/msvc-build/modules/enduro2d/modules/glfw/src/CMakeFiles/generate.stamp.depend
/msvc-build/modules/enduro2d/modules/glfw/src/Debug/glfw3.lib
/msvc-build/modules/enduro2d/modules/glfw/src/INSTALL.vcxproj
/msvc-build/modules/enduro2d/modules/glfw/src/INSTALL.vcxproj.filters
/msvc-build/modules/enduro2d/modules/glfw/src/cmake_install.cmake
/msvc-build/modules/enduro2d/modules/glfw/src/glfw.dir/Debug/context.obj
/msvc-build/modules/enduro2d/modules/glfw/src/glfw.dir/Debug/egl_context.obj
/msvc-build/modules/enduro2d/modules/glfw/src/glfw.dir/Debug/glfw.log
/msvc-build/modules/enduro2d/modules/glfw/src/glfw.dir/Debug/glfw.pdb
/msvc-build/modules/enduro2d/modules/glfw/src/glfw.dir/Debug/glfw.tlog/CL.command.1.tlog
/msvc-build/modules/enduro2d/modules/glfw/src/glfw.dir/Debug/glfw.tlog/CL.read.1.tlog
/msvc-build/modules/enduro2d/modules/glfw/src/glfw.dir/Debug/glfw.tlog/CL.write.1.tlog
/msvc-build/modules/enduro2d/modules/glfw/src/glfw.dir/Debug/glfw.tlog/Lib-link.read.1.tlog
/msvc-build/modules/enduro2d/modules/glfw/src/glfw.dir/Debug/glfw.tlog/Lib-link.write.1.tlog
/msvc-build/modules/enduro2d/modules/glfw/src/glfw.dir/Debug/glfw.tlog/Lib.command.1.tlog
/msvc-build/modules/enduro2d/modules/glfw/src/glfw.dir/Debug/glfw.tlog/custombuild.command.1.tlog
/msvc-build/modules/enduro2d/modules/glfw/src/glfw.dir/Debug/glfw.tlog/custombuild.read.1.tlog
/msvc-build/modules/enduro2d/modules/glfw/src/glfw.dir/Debug/glfw.tlog/custombuild.write.1.tlog
/msvc-build/modules/enduro2d/modules/glfw/src/glfw.dir/Debug/glfw.tlog/glfw.lastbuildstate
/msvc-build/modules/enduro2d/modules/glfw/src/glfw.dir/Debug/init.obj
/msvc-build/modules/enduro2d/modules/glfw/src/glfw.dir/Debug/input.obj
/msvc-build/modules/enduro2d/modules/glfw/src/glfw.dir/Debug/monitor.obj
/msvc-build/modules/enduro2d/modules/glfw/src/glfw.dir/Debug/osmesa_context.obj
/msvc-build/modules/enduro2d/modules/glfw/src/glfw.dir/Debug/vulkan.obj
/msvc-build/modules/enduro2d/modules/glfw/src/glfw.dir/Debug/wgl_context.obj
/msvc-build/modules/enduro2d/modules/glfw/src/glfw.dir/Debug/win32_init.obj
/msvc-build/modules/enduro2d/modules/glfw/src/glfw.dir/Debug/win32_joystick.obj
/msvc-build/modules/enduro2d/modules/glfw/src/glfw.dir/Debug/win32_monitor.obj
/msvc-build/modules/enduro2d/modules/glfw/src/glfw.dir/Debug/win32_thread.obj
/msvc-build/modules/enduro2d/modules/glfw/src/glfw.dir/Debug/win32_time.obj
/msvc-build/modules/enduro2d/modules/glfw/src/glfw.dir/Debug/win32_window.obj
/msvc-build/modules/enduro2d/modules/glfw/src/glfw.dir/Debug/window.obj
/msvc-build/modules/enduro2d/modules/glfw/src/glfw.vcxproj
/msvc-build/modules/enduro2d/modules/glfw/src/glfw.vcxproj.filters
/msvc-build/modules/enduro2d/modules/glfw/src/glfw3.pc
/msvc-build/modules/enduro2d/modules/glfw/src/glfw3Config.cmake
/msvc-build/modules/enduro2d/modules/glfw/src/glfw3ConfigVersion.cmake
/msvc-build/modules/enduro2d/modules/glfw/src/glfw_config.h
